# Este archivo le dice a gcloud qué archivos ignorar al desplegar.
# Su presencia anula el comportamiento por defecto de usar .gitignore.

# Ignorar los archivos de control de versiones y de gcloud
.git/
.gitignore
.gcloudignore

# Ignorar el entorno virtual y los archivos compilados de Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
